.bg-coklat{background-color: chocolate;}
.bg-burlywood{background-color: burlywood;}
.jumbotron{ padding:5rem;background-color: azure ;}
#profile{padding: 2rem 1rem;background-color: bisque;}
#education{background-color: blanchedalmond ;}
#hobi{background-color: rgb(206, 160, 90);}